<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary" [ngClass]="{ 'navbar-shrink': isShrunk }">

    <div class="container">
      <a class="navbar-brand fw-bold" href="#">SwitchIn</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#home" [ngClass]="{ active: currentSection === 'home' }">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about" [ngClass]="{ active: currentSection === 'about' }">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services" [ngClass]="{ active: currentSection === 'services' }">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact" [ngClass]="{ active: currentSection === 'contact' }">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  